<%- include("header") -%>

    <h1 class="box" id="heading">About</h1>

    <p class="box">All Webpages loaded on this website using EJS Template Engine.
    </p>

    <%- include("footer") -%>